.default-color2.chart-area-symbol { -fx-background-color: #00FF00, #00FF00;}
.default-color3.chart-area-symbol { -fx-background-color: #FF0000, #FF0000;}
.default-color1.chart-area-symbol { -fx-background-color: #000000, #000000;}
.default-color0.chart-area-symbol { -fx-background-color: #FF0000, #FF0000;}

.default-color2.chart-series-area-line { -fx-stroke: #00FF0010;}
.default-color3.chart-series-area-line { -fx-stroke: #FF000010;}
.default-color1.chart-series-area-line { -fx-stroke: #000000;}
.default-color0.chart-series-area-line { -fx-stroke: #FF000055;}

.default-color2.chart-series-area-fill { -fx-fill: #00FF0086;}
.default-color3.chart-series-area-fill { -fx-fill: #FF000025;}
.default-color1.chart-series-area-fill { -fx-fill: #FFFFFF10;}
.default-color0.chart-series-area-fill { -fx-fill: #FF000060;}

